@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --guide-border: 1px solid black;
    --text-color:rgba(255, 255, 255, 0.3);
}
html {
    font-size: 62.5%;
    font-family: 'Wix Madefor Text', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 1.8rem;
}
/* Main container card */
.card {
    max-width: 375px;
    width: 100%;
    /* border: var(--guide-border); */
}


.flex--row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header section of the card */
.card__header {
    width: 100%;
    height: 32rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    color: white;
    background-image: linear-gradient(hsl(252, 100%, 65%),hsl(241, 80%, 50%));
    /* border: var(--guide-border); */
}
.top-txt {
    margin-bottom: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6);
}

/* Score preview circle */
.score-container {
    height: 120px;
    width: 120px;
    margin-bottom: 3rem;
    border-radius: 50%;
    background-image: linear-gradient(hsla(241, 70%, 38%, 0.7),hsla(256, 50%, 50%, 0.1));
    box-shadow: 0 0 20px 10px hsla(256, 70%, 50%, 0.5);
}
#user-score {
    font-size: 5rem;
    font-weight: 700;
}
#out-of-100 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.3);
}


/* Score message */
.score-message {
    max-width: 30rem;
    margin-bottom: 1rem;
}
#score-message-1 {
    margin-bottom: 0.8rem;
    font-size: 2.5rem;
    font-weight: 600;
}
#score-message-2 {
    width: 30ch;
    line-height: 1.3;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}


/*  Summary section */
.main-box {
    max-width: 300px;
    width: 100%;
}
#summary-title {
    padding: 2rem 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    color:  hsl(224, 30%, 23%);
}
.summary-container {
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.icon-text-container {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}
.icon-text-container svg {
    margin-right: 1rem;
}

.percentage-container {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    color: hsl(224, 30%, 15%);
}
.out-of-100 {
    margin-left: 1rem;
    font-weight: 600;
    color: hsl(221, 10%, 60%);
}
.summary-container:nth-child(2) {
    background-color: hsl(355, 100%, 98%);
}
.summary-container:nth-child(3){
    background-color: hsl(39, 100%, 98%);
}
.summary-container:nth-child(4){
    background-color: hsl(166, 100%, 98%);
}
.summary-container:nth-child(5){
    background-color: hsl(221, 100%, 98%);
}
/* Footer Continue button */
.summary-button {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: hsl(224, 30%, 27%);
}
.summary-button:hover {
    background-image: linear-gradient(hsla(256, 50%, 55%, 0.5),hsla(241, 70%, 50%, 1));
}
.summary-button a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 690px){
    .card {
        max-width: 680px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5rem;
        border-radius: 3rem;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    }


    .card__header {
        height: 100%;
        border-radius: 3rem;
    }
    .top-txt {
        margin-bottom: 3.5rem;
    }
    .score-container {
        height: 150px;
        width: 150px;
        margin-bottom: 2.5rem;
    }
    #user-score {
        font-size: 5.5rem;
    }
    #out-of-100 {
        font-size: 1.2rem;
    }
    #score-message-2 {
        width: 24ch;
        line-height: 1.3;
    }


    .summary-container {
        max-width: auto;
        margin-bottom: 1.5rem;
    }
    #summary-title {
        margin-top: 1rem;
    }
    .summary-container:nth-child(2) {
        margin-top: 0.5rem;
    }


    .summary-button {
        font-size: 1.8rem;
        font-weight: 500;
    }
}